<h1>Dashboard</h1>
<div class="col-md-3">
	<div class="panel panel-primary">
	  <div class="panel-heading">Quick Links</div>
	  <div class="panel-body">
	  	<ul class="list-unstyled">
	  		<li><a href="http://www.tei-test.com" target="_blank">TEi Public Site</a></li>
	  		<li><a href="http://www.a2la.org" target="_blank">A2LA</a></li>
	  		<li><a href="http://www.rvia.org" target="_blank">RVIA</a></li>
	  	</ul>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Essential Documents</div>
	  <div class="panel-body">
	  	<ul class="list-unstyled">
	  		<li>TEi-LS Quality Manual</li>
	  		<li>Listing Application</li>
	  		<li>Amendment Application</li>
	  		<li>Listing Agreement</li>
	  		<li>Initial Plant Inspection</li>
	  		<li>Follow-Up Inspection</li>
	  	</ul>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Database Admin</div>
	  <div class="panel-body">
	  	<ul class="list-unstyled">
        <li><%= link_to "Manage Users", users_path %></li>
        <li><%= link_to "Manage Listing Categories / Standards", categories_path %></li>
	  	</ul>
	  </div>
	</div>
</div>
<div class="col-md-9">
	<div class="panel panel-primary">
	  <div class="panel-heading">Open Projects</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Description</th>
	  		<th>LS #</th>
	  		<th>Status</th>
	  	</thead>
	  	<tbody>
	  		<% @projects.each do |project| %>
	  			<tr>
	  				<td><%= project.client.name %></td>
	  				<td><%= project.project_type %></td>
	  				<td><%= project.number %></td>
	  				<td><%= project.status %></td>
	  			</tr>
	  		<% end %>
	  	</tbody>
	  </table>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Urgent Inspections</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Facility Address</th>
	  		<th>Last Inspected</th>
	  	</thead>
	  	<tbody>
	  		<% @facilities.each do |facility| %>
	  			<tr>
	  				<td><%= facility.client_name %></td>
	  				<td><%= facility.address %></td>
	  				<td>
	  					<%= facility.last_inspection %>
	  					<%= facility.last_inspection.blank? ? "Never inspected" : " (#{time_ago_in_words(facility.last_inspection)} ago)" %>
	  				</td>
	  			</tr>
	  		<% end %>
	  	</tbody>
	  </table>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Overdue Invoices</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Invoice #</th>
	  		<th>Description</th>
	  		<th>Date Invoiced</th>
	  	</thead>
	  	<tbody>
	  	</tbody>
	  </table>
	</div>
</div>