<h1>Dashboard</h1>
<div class="col-md-9">
	<div class="panel panel-primary">
	  <div class="panel-heading">Open Amendment Projects</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Description</th>
	  		<th>LS #</th>
	  		<th>Status</th>
	  	</thead>
	  	<tbody>
	  		<% @projects.each do |project| %>
	  			<tr>
	  				<td><%= project.client.name %></td>
						<td>
							<strong><%= project.project_type %></strong>
							<div class="amendment-details">
								<% if project.project_type == "Listing Addition" || project.project_type == "Design Change" %>
									<%= "<em>#{project.category.with_scheme}</em>".html_safe unless project.category_id.blank? %><%= ": " unless (project.category_id.blank? || project.models.blank?) %>
									<%= simple_format(project.models, class: "model-list", wrapper_tag: "div") unless project.models.blank? %>
									<%= "<p><em>Test Report(s)</em> #{project.test_reports}</p>".html_safe unless project.test_reports.blank? %>
								<% elsif project.project_type == "Facility Change" %>
									<%= "<p><em>Inactivated Facility:</em> #{project.old_facility.address}</p>".html_safe unless project.old_facility_id.blank? %>
									<%= "<p><em>New Facility:</em> #{project.new_facility.address}</p>".html_safe unless project.new_facility_id.blank? %>
								<% end %>
								<%= simple_format(project.comments, {}, wrapper_tag: "div") unless project.comments.blank? %>
							</div>
						</td>
	  				<td><%= project.number %></td>
	  				<td class="nowrap"><strong><%= project.status %></strong></td>
	  			</tr>
	  		<% end %>
	  	</tbody>
	  </table>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Overdue Inspections</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Facility Address</th>
	  		<th>Last Inspected</th>
	  	</thead>
	  	<tbody>
	  		<% @facilities.each do |facility| %>
	  			<tr>
	  				<td><%= facility.client_name %></td>
	  				<td><%= facility.address %></td>
	  				<td class="nowrap">
	  					<%= facility.last_inspection %>
	  					<%= facility.last_inspection.blank? ? "Never inspected" : " (#{time_ago_in_words(facility.last_inspection)} ago)" %>
	  				</td>
	  			</tr>
	  		<% end %>
	  	</tbody>
	  </table>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Uncompleted Tagged Work (last 12 months)</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Model Tagged</th>
	  		<th>Insp Date</th>
	  		<th>Status</th>
	  	</thead>
	  	<tbody>
	  		<% @tests.each do |test| %>
		  		<tr>
		  			<td><%= test.inspection.facility.client.name %></td>
		  			<td><%= test.model %></td>
		  			<td><%= test.inspection.inspection_date %></td>
		  			<% if test.not_received? %>
		  				<td><strong>Sample Not Received</strong></td>
		  			<% elsif test.not_tested? %>
		  				<td>
		  					<strong>Waiting for Test</strong>
		  					<div class="amendment-details"></div>
		  						<em>Sample Received <%= test.sample_received %>, Job # <%= test.number %></em>
		  					</div>
		  				</td>
		  			<% end %>
		  		</tr>
		  	<% end %>
	  	</tbody>
	  </table>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Unpaid Invoices</div>
	  <table class="table table-striped table-condensed">
	  	<thead>
	  		<th>Client</th>
	  		<th>Invoice #</th>
	  		<th>Description</th>
	  		<th>Amount</th>
	  		<th>Date Invoiced</th>
	  		<th>
	  	</thead>
	  	<tbody>
	  		<% @invoices.each do |invoice| %>
	  			<tr>
	  				<td><%= invoice.client.name %></td>
	  				<td><%= invoice.number %></td>
	  				<td><%= invoice.description %></td>
	  				<td><%= number_to_currency(invoice.amount) %></td>
	  				<td><%= invoice.date_invoiced %></td>
	  				<td>
    					<%= link_to "<span class='glyphicon glyphicon-ok'> Enter Pmt</span>".html_safe, quickpay_path(invoice), class: "btn btn-warning btn-xs", title: "Edit Invoice Payment", data: { toggle: "modal", load_remote: quickpay_path(invoice) } %>
    				</td>
	  			</tr>
	  		<% end %>
	  	</tbody>
	  </table>
	</div>
</div>
<div class="col-md-3">
	<div class="panel panel-primary">
	  <div class="panel-heading">Quick Links</div>
	  <div class="panel-body">
	  	<ul class="list-unstyled">
	  		<li><a href="http://www.tei-test.com" target="_blank">TEi Public Site</a></li>
	  		<li><a href="http://www.a2la.org" target="_blank">A2LA</a></li>
	  		<li><a href="http://www.rvia.org" target="_blank">RVIA</a></li>
	  	</ul>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Essential Documents</div>
	  <div class="panel-body">
	  	<ul class="list-unstyled">
	  		<li>TEi-LS Quality Manual</li>
	  		<li>Listing Application</li>
	  		<li>Amendment Application</li>
	  		<li>Listing Agreement</li>
	  		<li>Initial Plant Inspection</li>
	  		<li>Follow-Up Inspection</li>
	  	</ul>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Database Setup</div>
	  <div class="panel-body">
	  	<ul class="list-unstyled">
        <li><%= link_to "Manage Users", users_path %></li>
        <li><%= link_to "Manage Listing Categories / Standards", categories_path %></li>
	  	</ul>
	  </div>
	</div>
</div>