<div class="row">
	<%= link_to "Clients", "#", class: "col-md-4 tile" %>
	<%= link_to "Invoicing", "#", class: "col-md-4 tile" %>
	<%= link_to "Surveillance", "#", class: "col-md-4 tile" %>
</div>
<div class="row">
	<%= link_to "Projects", "#", class: "col-md-4 tile" %>
	<%= link_to "Standards", "#", class: "col-md-4 tile" %>
	<%= link_to "Admin", "#", class: "col-md-4 tile" %>
</div>
