<div class="listing-header">
  <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, listing, method: :delete, class: "btn btn-danger btn-xs pull-right", title: "Delete Listing", data: { confirm: 'Are you sure you want to delete this listing category?' } %>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_listing_path(listing), class: "btn btn-warning btn-xs pull-right", title: "Edit Listing Information", data: { toggle: "modal", load_remote: edit_listing_path(listing) } %>
  <%= listing.category.with_scheme %>
</div>
<table class="table table-condensed">
  <tr>
    <td>Standards</td>
    <td>
      <ul class="list-unstyled">
        <% listing.standards.each_with_index do |standard| %>
          <li>
          <%= "<strong>#{standard.number}</strong> (#{standard.revision}) - #{standard.title}".html_safe %>
          <%= " (<em>#{standard.exceptions}</em>)".html_safe if standard.exceptions.present? %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Product Description</td>
    <td><%= listing.product_description %></td>
  </tr>
  <tr>
    <td>Model Numbers</td>
    <td><%= simple_format(listing.model_numbers, {}, wrapper_tag: "div") %></td>
  </tr>
  <tr>
    <td>Listing Conditions</td>
    <td><%= simple_format(listing.conditions, {}, wrapper_tag: "div") %></td>
  </tr>
  <tr>
    <td>Comments</td>
    <td><%= simple_format(listing.comments, {}, wrapper_tag: "div") %></td>
  </tr>
</table>
