<%= form_for(@invoice, remote: true) do |f| %>
  <div class="col-md-6">
    <div class="field">
      <%= f.label :number, "Invoice Number" %>
      <%= f.text_field :number, required: true %>
    </div>
    <div class="field">
      <%= f.label :client_id %>
      <%= f.collection_select :client_id, Client.all.order('name'), :id, :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount %>
    </div>
    <div class="field">
      <%= f.label :date_invoiced, "Date Invoiced" %>
      <%= f.date_field :date_invoiced, required: true %>
    </div>
    <div class="field">
      <%= f.label :date_paid, "Date Paid" %>
      <%= f.date_field :date_paid %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
