<h1>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Edit".html_safe, "#", class: "btn btn-warning btn-sm pull-right", title: "Edit Client Information", data: { toggle: "modal", target: "#modalEditClient" } %>
  Client Information
</h1>

<%= "<div class='delisted'>De-Listed</div>".html_safe if @client.delisted %>
<%= "<div class='delisted'>Suspended</div>".html_safe if @client.suspended %>
<div class="row" id="client-info">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <strong>Company</strong>
      </div>
      <div class="col-md-8">
        <strong><%= @client.name %></strong>
        <%= simple_format(@client.address, {}, wrapper_tag: "div") %>
        Tel: <%= @client.phone %></br />
        Web: <%= link_to @client.website.to_s, @client.website %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Listing Number</strong>
      </div>
      <div class="col-md-8">
        <strong><%= @client.listing_number %></strong><br />
        Effective Date: <%= @client.effective %><br />
        Last Updated: <%= @client.updated %><br />
        <%= "Expires: #{@client.expires}" if @client.expires %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <strong>Listing Contact</strong>
      </div>
      <div class="col-md-8">
        <%= @client.poc_name %><br />
        <%= "#{@client.poc_title}<br />".html_safe unless @client.poc_title.blank? %>
        <%= "#{@client.poc_phone}<br />".html_safe unless @client.poc_phone.blank? %>
        <%= mail_to(@client.poc_email) unless @client.poc_email.blank? %>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Invoicing Schedule</strong>
      </div>
      <div class="col-md-8">
        $<%= @client.invoice_amt %> <%= @client.invoice_freq.gsub(/Annual/, "Annually") %><%= " (in #{@client.invoice_month})" if @client.invoice_freq == "Annual" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Comments</strong>
      </div>
      <div class="col-md-8">
        <%= simple_format(@client.comments, {}, wrapper_tag: "div") %>
      </div>
    </div>
  </div>
</div>

<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Facility" %>
  Manufacturing Facilities
</h1>


<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Category" %>
  Listing Categories
</h1>


<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Project" %>
  Project Log
</h1>


<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Invoice" %>
  Invoice Log
</h1>


<!-- Edit Client Information Modal -->
<div class="modal fade" id="modalEditClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-client-edit">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Client Information</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>