<h1>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Edit".html_safe, edit_client_path(@client), class: "btn btn-warning pull-right", title: "Edit Client Information", data: { toggle: "modal", load_remote: edit_client_path(@client) } %>
  Client Information
</h1>

<%= "<div class='delisted'>De-Listed</div>".html_safe if @client.delisted %>
<%= "<div class='delisted'>Suspended</div>".html_safe if @client.suspended %>
<div class="row" id="client-info">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <strong>Company</strong>
      </div>
      <div class="col-md-8">
        <strong><%= @client.name %></strong>
        <%= simple_format(@client.address, {}, wrapper_tag: "div") %>
        Tel: <%= @client.phone %></br />
        Web: <%= link_to @client.website.to_s, @client.website %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Listing Number</strong>
      </div>
      <div class="col-md-8">
        <strong><%= @client.listing_number %></strong><br />
        Effective Date: <%= @client.effective %><br />
        Last Updated: <%= @client.updated %><br />
        <%= "Expires: #{@client.expires}" if @client.expires %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <strong>Listing Contact</strong>
      </div>
      <div class="col-md-8">
        <%= @client.poc_name %><br />
        <%= "#{@client.poc_title}<br />".html_safe unless @client.poc_title.blank? %>
        <%= "#{@client.poc_phone}<br />".html_safe unless @client.poc_phone.blank? %>
        <%= mail_to(@client.poc_email) unless @client.poc_email.blank? %>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Invoicing Schedule</strong>
      </div>
      <div class="col-md-8">
        $<%= @client.invoice_amt %> <%= @client.invoice_freq.gsub(/Annual/, "Annually") %><%= " (in #{@client.invoice_month})" if @client.invoice_freq == "Annual" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Comments</strong>
      </div>
      <div class="col-md-8">
        <%= simple_format(@client.comments, {}, wrapper_tag: "div") %>
      </div>
    </div>
  </div>
</div>

<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Category" %>
  Listing Categories
</h1>


<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, new_client_facility_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Facility", data: { toggle: "modal", load_remote: new_client_facility_path(@client) } %>
  Manufacturing Facilities
</h1>
<% @client.facilities.each do |facility| %>
  <div class="row facility-row">
    <div class="col-md-3">
      <%= "<div class='delisted'>Inactive</div>".html_safe if facility.inactive %>
      <%= "<strong>#{facility.name}</strong><br/>".html_safe unless facility.name.blank? %>
      <%= simple_format(facility.address, {}, wrapper_tag: "div") %>
      Tel: <%= facility.phone %><br/>
      <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Edit".html_safe, edit_facility_path(facility), class: "btn btn-xs btn-warning", title: "Edit Facility Information", data: { toggle: "modal", load_remote: edit_facility_path(facility) } %>
    </div>
    <div class="col-md-3">
      <strong>Point of Contact</strong><br />
      <%= facility.poc_name %><%= ", #{facility.poc_phone}".html_safe unless facility.poc_phone.blank? %><%= ", #{mail_to(facility.poc_email)}".html_safe unless facility.poc_email.blank? %><br/><br/>
      <strong>Comments</strong><br />
      <%= simple_format(facility.comments, {}, wrapper_tag: "div") %>
    </div>
    <div class="col-md-6">
      <strong>Inspection History</strong>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>IS #</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3/12/2012</td>
            <td>IS00315</td>
            <td>Passed - No issues</td>
          </tr>
          <tr>
            <td>3/12/2011</td>
            <td>IS00315</td>
            <td>No posted quality statement
              Discrepancy letter sent 03/15/2011
              Reply received 04/02/2011
              Resolution satisfactory</td>
          </tr>
          <tr>
            <td>3/12/2010</td>
            <td>IS00315</td>
            <td>Passed - No issues</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Project" %>
  Project Log
</h1>


<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, edit_client_path(@client), class: "btn btn-success btn-sm pull-right", title: "Add New Invoice" %>
  Invoice Log
</h1>

<%= render 'shared/modal' %>