<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @facility.client_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @facility.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @facility.phone %>
</p>

<p>
  <strong>Poc name:</strong>
  <%= @facility.poc_name %>
</p>

<p>
  <strong>Poc phone:</strong>
  <%= @facility.poc_phone %>
</p>

<p>
  <strong>Poc email:</strong>
  <%= @facility.poc_email %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @facility.inactive %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @facility.comments %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
