<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field" id="standard-list">
    <%= label_tag nil,"Standards" %>
    <ul>
    <% @category.standards.each do |standard| %>
      </li>
        <%= "<strong>#{standard.number}</strong> (#{standard.revision}) - <em>#{standard.title}</em>".html_safe %>
        <%= " (#{standard.exceptions})" if standard.exceptions %>
        <%= link_to "Remove" %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </div>
<% end %>