<%= form_for(@category, remote: true) do |f| %>
  <div class="field">
    <%= f.label :scheme_id, "Scheme" %>
    <%= f.collection_select :scheme_id, @schemes, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, required: true %>
  </div>

  <%= label_tag nil, "Standards in this Category" %>
  <div id="standard-list">
    <%= f.fields_for :category_standards do |ff| %>
      <div class="field">
        <%= ff.object.standard.number_with_exceptions %>
        <%= ff.hidden_field :standard_id %>
        <%= ff.hidden_field :_destroy %>
        <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "", class: "del-std-btn", title: "Remove standard from category" %>
      </div>
    <% end %>

    <div class="hidden" id="std-add-new-template">
      <div class="field">
        <%= f.fields_for :category_standards, CategoryStandard.new, child_index: "-999" do |ff| %>
          <%= ff.collection_select :standard_id, @standards - @category.standards, :id, :number_with_exceptions, prompt: "Select a standard to add" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to "<span class='glyphicon glyphicon-plus'></span> Add Another".html_safe, "", class: "btn btn-success btn-sm", id: "add-std-btn", title: "Add standard to category" %>

  <div class="actions">
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
  </div>
<% end %>