<h1>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> Add New Standard".html_safe, new_standard_path, class: "btn btn-success pull-right", title: "Add New Standard", data: { toggle: "modal", load_remote: new_standard_path } %>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> Add New Category".html_safe, new_category_path, class: "btn btn-success pull-right", title: "Add New Category", data: { toggle: "modal", load_remote: new_category_path } %>
  Listing Categories/Standards</h1>

<div id="category-list">
  <div class="row" id="header-row">
    <div class="col-md-4">Listing Category</div>
    <div class="col-md-8">Available Standards</div>
  </div>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-md-4">
      <div class="pull-left" id="category-controls">
        <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_category_path(category), class: "btn btn-warning btn-xs", title: "Edit Category Information", data: { toggle: "modal", load_remote: edit_category_path(category) } %>
        <br />
        <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, category, method: :delete, class: "btn btn-danger btn-xs", title: "Delete Category", data: { confirm: 'Are you sure you want to delete this category? (The standards will not be deleted. All clients listing to this category will have it removed from their scope!)' } %>
      </div>
      <strong><%= category.description %></strong>
    </div>
    <div class="col-md-8 standard-list">
      <% category.standards.each do |standard| %>
        <%= "<strong>#{standard.number}</strong> (#{standard.revision}) - <em>#{standard.title}</em>".html_safe %>
        <%= " (#{standard.exceptions})" if standard.exceptions %>
        <br />
      <% end %>
    </div>
  </div>
<% end %>
</div>

<%= render 'shared/modal' %>