<%= form_for(@standard, remote: true) do |f| %>
  <div class="field">
    <%= f.label :number, "Standard Org and Number (i.e. ASTM 1234)" %>
    <%= f.text_field :number, required: true %>
  </div>
  <div class="field">
    <%= f.label :revision, "Revision (usually a year)" %>
    <%= f.text_field :revision %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
    <div class="field">
    <%= f.label :exceptions, "Limitations (from A2LA scope)" %>
    <%= f.text_field :exceptions %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
