<div class="panel panel-primary">
  <div class="panel-heading">
    <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Back to Categories".html_safe, categories_path, class: "btn btn-info btn-xs pull-right" %>
    <%= link_to "<span class='glyphicon glyphicon-plus'></span> New".html_safe, new_standard_path, class: "btn btn-success btn-xs pull-right", title: "Add New Standard", data: { toggle: "modal", load_remote: new_standard_path } %>
    Listing Standards
  </div>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Number</th>
        <th>Revision</th>
        <th>Title</th>
        <th>Limitations</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @standards.each do |standard| %>
        <tr>
          <td nowrap><%= standard.number %></td>
          <td><%= standard.revision %></td>
          <td><%= standard.title %></td>        
          <td><%= standard.exceptions %></td>        
          <td nowrap><%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe, standard_path(standard), class: "btn btn-info btn-xs", title: "Info for "+standard.number, data: { toggle: "modal", load_remote: standard_path(standard) } %>
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_standard_path(standard), class: "btn btn-warning btn-xs", title: "Edit Standard Information", data: { toggle: "modal", load_remote: edit_standard_path(standard) } %>
          <% if standard.listings.unscope(:order).empty? && standard.categories.empty? %>
            <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, standard, method: :delete, class: "btn btn-danger btn-xs", title: "Delete Standard", data: { confirm: 'Are you sure you want to delete this standard?' } %></td>
          <% else %>
            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="Standard is still in use and cannot be deleted. Remove standard from all categories AND client listings before deleting."><span class='glyphicon glyphicon-trash'></span></button>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>