<tr>
	<td>
		<strong><%= amendment.status %></strong>
		<%= "<br />#{amendment.completed}".html_safe unless amendment.completed.blank? %></td>
	<td><%= amendment.number %></td>
	<td>
		<strong><%= amendment.project_type %></strong>
		<div id="amendment-details">
			<% if amendment.project_type == "Listing Addition" || amendment.project_type == "Design Change" %>
				<%= "<em>#{amendment.category.with_scheme}</em>, ".html_safe unless amendment.category_id.blank? %>
				Model Number(s) <%= amendment.models %>
				<%= "<br />Test Report #{amendment.test_reports}".html_safe unless amendment.test_reports.blank? %>
			<% elsif amendment.project_type == "Facility Change" %>
				<%= "<em>Inactivated Facility:</em> #{amendment.old_facility.address}<br />".html_safe unless amendment.old_facility_id.blank? %>
				<%= "<em>New Facility:</em> #{amendment.new_facility.address}".html_safe unless amendment.new_facility_id.blank? %>
			<% end %>
		</div>
	</td>
	<td><%= simple_format(amendment.comments, {}, wrapper_tag: "div") %></td>
	<td>
  	<%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, amendment, method: :delete, class: "btn btn-danger btn-xs pull-right", title: "Delete Amendment", data: { confirm: 'Are you sure you want to delete this amendment?' } %>
		<%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_amendment_path(amendment), class: "btn btn-warning btn-xs pull-right", title: "Edit Amendment Information", data: { toggle: "modal", load_remote: edit_amendment_path(amendment) } %>
	</td>
</tr>