<tr>
	<td><%= amendment.completed %></td>
	<td><%= amendment.number %></td>
	<td>
		<%# This cell can be so much prettier. Play around with the formatting and CSS %>
		<strong><%= amendment.project_type %></strong><br />
		<% if amendment.project_type == "Listing Addition" || amendment.project_type == "Design Change" %>
			<%= amendment.category.with_scheme unless amendment.category_id.blank? %><br />
			Model Numbers <%= amendment.models %><br />
			Test Report <%= amendment.test_reports %>
		<% elsif amendment.project_type == "Facility Change" %>
			<%# I KNOW there's a better way to do the below, probably some magic in the model %>
			Old Facility: <%= Facility.find(amendment.old_facility_id).address %><br />
			New Facility: <%= Facility.find(amendment.new_facility_id).address %>
		<% end %>
	</td>
	<td><%= simple_format(amendment.comments, {}, wrapper_tag: "div") %></td>
	<td>
  	<%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, amendment, method: :delete, class: "btn btn-danger btn-xs pull-right", title: "Delete Amendment", data: { confirm: 'Are you sure you want to delete this amendment?' } %>
		<%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_amendment_path(amendment), class: "btn btn-warning btn-xs pull-right", title: "Edit Amendment Information", data: { toggle: "modal", load_remote: edit_amendment_path(amendment) } %>
	</td>
</tr>