<%= form_for([@facility, @inspection], remote: true) do |f| %>
  <%= f.hidden_field :facility_id %>
  <div class="field">
    <%= f.label :number, "IS Number" %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :inspection_date %>
    <%= f.date_field :inspection_date, required: true %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>

  <%= label_tag nil, "Tagged Work:" %>
  <table class="table table-condensed" id="test-list">
    <thead>
      <th>Model #</th>
      <th>Sample Rec'd Date</th>
      <th>Job #</th>
      <th>Test Rpt Date</th>
    </thead>
    <tbody>
      <%= f.fields_for :tests do |ff| %>
        <tr>
          <td><%= ff.text_field :model %></td>
          <td><%= ff.date_field :sample_received %></td>
          <td><%= ff.text_field :number %></td>
          <td><%= ff.date_field :report_received %></td>
          <td><%= ff.hidden_field :_destroy %>
          <%= link_to "<span class='fa fa-remove'></span>".html_safe, "", class: "del-test-btn", title: "Delete record" %></td>
        </tr>
      <% end %>
      <tr class="hidden" id="test-add-new-template">
        <%= f.fields_for :tests, Test.new, child_index: "-999" do |ff| %>
          <td><%= ff.text_field :model %></td>
          <td><%= ff.date_field :sample_received %></td>
          <td><%= ff.text_field :number %></td>
          <td><%= ff.date_field :report_received %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <%= link_to "<span class='fa fa-plus'></span> Add Row".html_safe, "", class: "btn btn-info btn-sm", id: "add-test-btn", title: "Add another tagged model" %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
