<tr>
  <td><%= inspection.inspection_date %></td>
  <td><%= inspection.number %></td>
  <td>
    <ul class="list-unstyled">
      <% inspection.tests.each do |test| %>
        <li<% if test.not_received? || test.not_tested? %> class="bg-danger" data-toggle="tooltip" data-placement="top" title=<% if test.not_received? %>"Sample not received"<% elsif test.not_tested? %>"Received <%= test.sample_received %>, not tested"<% end %>><span class="fa fa-exclamation-circle"></span<% end %>>
        <%= test.model %>
        <%= "(Job #{test.number})" unless test.number.blank? %>
        </li>
      <% end %>
    </ul>
  <td><%= simple_format(inspection.comments, {}, wrapper_tag: "div") %></td>
  <td class="nowrap">
    <%= link_to "<span class='fa fa-edit'></span>".html_safe, edit_inspection_path(inspection), class: "btn btn-warning btn-xs", title: "Edit Inspection Information", data: { toggle: "modal", load_remote: edit_inspection_path(inspection) } %>
    <%= link_to "<span class='fa fa-trash-o'></span>".html_safe, inspection, method: :delete, class: "btn btn-danger btn-xs", title: "Delete Inspection", data: { confirm: 'Are you sure you want to delete this inspection record?' } %>
  </td>
</tr>