<tr>
  <td><%= inspection.inspection_date %></td>
  <td><%= inspection.number %></td>
  <td><%= simple_format(inspection.comments, {}, wrapper_tag: "div") %></td>
  <td nowrap>
    <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_inspection_path(inspection), class: "btn btn-warning btn-xs", title: "Edit Inspection Information", data: { toggle: "modal", load_remote: edit_inspection_path(inspection) } %>
    <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, inspection, method: :delete, class: "btn btn-danger btn-xs", title: "Delete Inspection", data: { confirm: 'Are you sure you want to delete this inspection record?' } %>
  </td>
</tr>
<% inspection.tests.each do |test| %>
<%
# Fix inspection alternate-row shading, so that tests are same shade as inspection
# Make test row red (or text red) when not completed
# Maybe reduce test font size by 1px
# Add edit modal and delete button for tests
# Remove test fields from Inspection modal in edit mode
%>
	<tr class="danger">
		<td colspan=4>
			<strong>Tagged: </strong><%= test.model %>, not received, not tested
		</td>
	</tr>
<% end %>