<div class="panel panel-primary">
  <div class="panel-heading">All Inspection Locations</div>
  <div class="panel-body" id="map-canvas">
    Google map of the world goes here with all the facilities in the database marked.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Surveillance Status for <%= Time.now.year %></div>
  <table class="table table-condensed">
    <thead>
      <th>Client</th>
      <th>Facility</th>
      <th>Status</th>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td rowspan=<%=client.facilities.count%>><%= "#{client.name} (#{client.listing_number})" %></td>
          <% client.facilities.active.each do |facility| %>
            <td><%= facility.address %></td>
            <% if facility.inspections.empty? %>
              <td class="danger text-danger">Never Inspected</td>
            <% elsif facility.inspections.first.this_year? %>
              <% if facility.inspections.first.tests.count == facility.inspections.first.tests.complete.count %>
                <td class="success text-success">
                  Inspection Done <%= facility.inspections.first.inspection_date %><br />
                  <%= facility.inspections.first.tests.complete.count %> of <%= facility.inspections.first.tests.count %> Tagged Tests Done
                </td>
              <% else %>
                <td class="danger">
                  <span class="text-success">Inspection Done <%= facility.inspections.first.inspection_date %></span><br />
                  <span class="text-danger"><%= facility.inspections.first.tests.complete.count %> of <%= facility.inspections.first.tests.count %> Tagged Tests Done</span>
                </td>
              <% end %>
            <% else %>
              <td class="danger text-danger">Last Inspected <%= facility.inspections.first.inspection_date %></td>
            <% end %>
            <%= "</tr><tr>".html_safe unless facility == client.facilities.last %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
